<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./s/css/admin.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="login-page">
            <div class="form">
                <form class="login-form" method="POST" action="/adminlogin">
                    <% if (message !== undefined) { %>
                    <% if (status !== undefined && status == 'success' ) { %>
                    <p class='success'><%= message %></p>
                    <% } else { %>
                    <p class='error'><%= message %></p>
                    <% } %>
                    <% } %>

                    <input type="text" name="username" placeholder="username" />
                    <input type="password" name="password" placeholder="password" />
                    <button type="submit">login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>