$favwhite: #f0f0f0;
$standartfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$white: #f1f1f1;
$black: #121212;
///////////////////////////// light //////////////////////////////////
@font-face {
    font-family: "georgia";
    src: url("../font/georgia.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    list-style: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth !important;
}
html,
body {
    height: 100%;
}
body {
    font-family: $standartfont;
    color: #f3f0e2;
    background: #2f3852; //purple
    background: #e0593d; //orange
    background: #2d5d7c; //blue
    background: $favwhite; //white
    color: #222;
    transition: 300ms all;
}
.container {
    height: 100%;
    padding-top: 10px;
    border: 15px solid $black;
    border-right: 15px solid $black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}
// +++++++++++++++++++++++++++header+++++++++++++++++++++++++++
.container .header {
    display: flex;
    flex-direction: column;
    .title {
        margin: 0.5% auto;
        text-align: center;
    }
    .headercont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            flex-basis: 30%;
            img {
                cursor: pointer;
                max-width: 200px;
                max-height: 200px;
                border-radius: 50%;
                margin-left: 15px;
                width: 100%;
                padding: 10px;
                transition: 300ms all;
                -webkit-transition: 300ms all;
                -moz-transition: 300ms all;
                -ms-transition: 300ms all;
                -o-transition: 300ms all;
                &:hover {
                    padding: 0px;
                    max-width: 200px;
                    max-height: 200px;
                }
            }
        }
        .menu {
            flex-basis: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 15px 0;
            //  max-width: 900px;
            li {
                line-height: 30px;
                margin: 0.5% 0.9%;
                cursor: pointer;
                border-radius: 10px;
                a {
                    border: 0px;
                    letter-spacing: 2px;
                    color: #121212;
                    transition: 200ms all;
                    text-decoration: none;
                    border-radius: 0;
                    border-bottom: 5px solid transparent;
                    &:hover {
                        border-bottom-color: #121212;
                    }
                    &:active {
                        border-bottom-width: 30px;
                        border-bottom-color:#505050;
                    }
                }
            }
        }
    }
}
// ------------------------header------------------------------

// ++++++++++++++++++++++++content+++++++++++++++++++++++++++++

.container .content {
    .contentcont {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        .left {
            display: none;
            flex-basis: 0%;
        }
        .center {
            display: flex;
            flex-direction: column;
        }
        .textdiv[class~="entry"]{
            
            max-width: 800px;
            margin: 0 auto;
            .textvideo{
                margin-bottom: 20px;
                iframe{
                    min-height: 450px;
                }
            }
            .textcode{
                display: none;
            }
            .textimg{
                display: none;
            }
        }
        .textdiv > .textp {
            max-width: 800px;
            margin: 0 auto;
            width: auto;
        }
        .textdiv > * {
            padding: 10px;
            margin-bottom: 20px !important;
        }
        a {
            text-decoration: none;
            text-transform: none;
            font-family: "Montserrat", sans-serif;
            font-size: 1.9rem;
            font-weight: 700;
            line-height: 1.25;
            color: #1a1a1a;
            word-wrap: break-word;
            transition: 0.1s all;
            -webkit-transition: 0.1s all;
            -moz-transition: 0.1s all;
            -ms-transition: 0.1s all;
            -o-transition: 0.1s all;
        }
        .texttitle a {
            max-width: 900px;
            text-decoration: none;
            border-bottom: 4px #000 solid;
            text-transform: none;
            font-family: "Montserrat", sans-serif;
            font-size: 1.9rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000;
            word-wrap: break-word;
            transition: 0.1s all;
            -webkit-transition: 0.1s all;
            -moz-transition: 0.1s all;
            -ms-transition: 0.1s all;
            -o-transition: 0.1s all;
            max-width: 90%;
        }
        .textinfo > i {
            margin-right: 5px;
        }
        .textinfo {
            display: flex;
            align-items: center;
            border-bottom-color: $black;
            color: $black;
            font-weight: 700;
            .date,
            .author {
                border-bottom: 2px solid $black;
            }
            .dateicon,
            .authoricon {
                font-size: 18px;
                margin-right: 5px;
            }
        }
        .textquote {
            width: auto;
            min-width: 100px;
            max-width: 1000px;
            margin: 0 auto;
            position: relative;
            i[class~="quoteicon"] {
                width: 100%;
                position: absolute;
                left: 0px;
                top: 23px;
                color: #121212;
                text-align: center;
            }
            i[class~="quoteicon"]::before {
                content: "\f10e";
                font-size: 30px;
                color: #333;
            }

            i[class~="quoteauthor"] {
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                left: 20px;
                bottom: 20px;
                color: #121212;
                display: flex;
            }
            i[class~="quoteauthor"]::before {
                content: "~ ";
            }
            blockquote {
                border: 2px solid $black;
                color: #222;
                font-style: italic;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
                border-radius: 5px;
                padding: 45px 10px 40px 10px;
                font-family: "georgia";
            }
            blockquote[class~="pre"] {
                text-align: center;
                white-space: pre-wrap;
            }
            blockquote[class~="talignc"] {
                text-align: center;
            }
        }
        .textvideo {
            width: 100%;
            height: 100%;
            display: block;
            max-width: 1600px;
            margin: 0 auto;
            padding: 0;
            max-height: 800px;
        }
        .textvideo iframe {
            width: 100%;
            height: auto;
        }

        .textimg {
            padding: 0;
        }
        .textimg img {
            width: 100%;
        }

        .right {
            display: block;
            justify-content: start;
            max-width: 400px;
            width: 400px;
            padding: 10px;
        }
        .textp p {
            text-decoration: none;
            text-transform: none;
            font-family: "Montserrat", sans-serif;
            font-size: 1.02rem;
            font-weight: 400;
            line-height: 1.25;
            color: #1a1a1a;
        }
    }
}
#MainContent {
    margin: 0px;
    max-height: 500px;
}
code {
    padding: 0px 12px 0 12px !important;
}
body.dark {
    .container {
        .header {
            .menu {
                li {
                    a {
                        color: $white;
                        border-bottom: 5px solid transparent;
                        &:hover {
                            border-bottom-color:#eee;
                        }
                    }
                }
            }
        }
        .content {
            .contentcont {
                .texttitle a {
                    border-bottom-color: $white;
                    color: $white;
                }
                .textinfo {
                    border-bottom-color: $white;
                    color: $white;
                    .date,
                    .author {
                        border-bottom-color: #f1f1f1;
                    }
                }
                .textquote {
                    i[class~="quoteicon"] {
                        color: #f1f1f1;
                    }
                    i[class~="quoteicon"]::before {
                        color: #ddd;
                    }
                    i[class~="quoteauthor"] {
                        color: #f1f1f1;
                    }
                    blockquote {
                        border-color: #aaa;
                        background: $black;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
            .textp p {
                color: #f0f0f0;
            }
        }
    }
}

.textcode {
    width: auto;
}
.maincode {
    background: rgba(12, 12, 12, 0.7);
}
.container .textbtn {
    margin: 0 auto;
    display: block;
    padding: 5px 10px;
    background: #101010;
    font-size: 1.25rem;
    color: rgb(224, 224, 224);
    cursor: pointer;
}
// ------------------------content-----------------------------

///////////////////////////// dark //////////////////////////////////
body.dark img {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}
body.dark {
    background: #222;
    color: #fff;
}
.mode-control {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 999999;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    * {
        cursor: pointer;
    }
}

.mode-control input {
    position: absolute;
    opacity: 0;
}

.mode-control span:nth-of-type(2) {
    display: none;
}

.mode-control input:checked + span {
    display: none;
}

.mode-control input:checked + span + span {
    display: inline-block;
}
$spanvalue: 30px;
.mode-control span {
    height: $spanvalue;
    width: $spanvalue;
    line-height: $spanvalue;
    font-size: 15px;
    background: rgba(34, 34, 34, 0.86);
    color: #f1f1f1;
    box-shadow: 0px 0px 15px #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
}
.mode-control span:hover {
    padding: 0px !important;
}
body.dark .mode-control span {
    background: rgba(241, 241, 241, 0.86);
    color: #222;
    box-shadow: 0px 0px 15px #fff;
}
///////////////////////////// extra //////////////////////////////////
.container::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar {
    width: 0px;
}
.container::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    background-color: $black;
}
.fletter::first-letter {
    font-size: 40px;
    font-weight: bold;
}
.divhr {
    border-top: 5px solid $black;
    width: 90%;
    display: block;
    height: 1px;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    margin: 15px auto 30px auto;
}
body.dark .divhr {
    border-top-color: #f1f1f1;
}

//////////////////////////////// media /////////////////////////////
@media only screen and (max-width: 1000px) {
    .container {
        height: 100%;
        padding-top: 10px;
        border: 0px solid $black;
        .content .contentcont {
            display: block;
            margin-top: 10px;
            .textvideo iframe {
                width: 100%;
                height: auto;
                min-height: 400px;
            }
        }
        .header {
            .headercont {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .menu {
                    width: 100%;
                    margin: 0 auto;
                }
                .logo img {
                    margin: 0 auto;
                    width: 100px;
                    padding: 0px;
                }
                .logo {
                    margin: 0 auto;
                }
            }
        }
    }
    .mode-control {
        top: 10px;
        right: 20px;
    }
    #gotopbtn {
        bottom: 10px !important;
        right: 20px !important;
    }
}
@media only screen and (max-width: 850px) {

}
.displayno {
    display: none !important;
}
#gotopbtn {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
    background-color: rgba($color: $black, $alpha: 0.2);
    color: rgba($color: $black, $alpha: 0.8);
    box-shadow: 0px 0px 10px #000;
}

#gotopbtn:hover {
    background-color: transparent;
    box-shadow: 0px 0px 10px #000;
    color: $black;
}
#gotopbtn:active {
    bottom: 20px;
}
body.dark #gotopbtn {
    background-color: #fff;
    color: rgba($color: $black, $alpha: 0.8);
    box-shadow: 0px 0px 15px #fff;
}
body.dark #gotopbtn:hover {
    color: $black;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px #fff;
}
body.dark #gotopbtn:active {
    box-shadow: 0px 0px 10px #fff;
}
div:empty {
    display: none !important;
}
